body {
    text-align: center;
    margin: 30px;
    background-color:black;
    color:white;
    background-image: url(../img/background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
}
.card {
    width: 100%;
    height: 100%;
    background-color: #37474F;
    border: transparent;
}
#player1-glow {
    box-shadow: 0px 0px 10px 10px lightblue;
    box-sizing: border-box;
    color: rgb(65, 201, 255);
    text-shadow: rgb(65, 201, 255) 1px 0 10px;
}
#player2-glow {
    box-shadow: 0px 0px 10px 10px  lightblue;
    box-sizing: border-box;
    color: rgb(65, 201, 255);
    text-shadow: rgb(65, 201, 255) 1px 0 10px;
}
#dice-glow {
    box-shadow: 0px 0px 10px 10px  rgb(231, 140, 140);
    box-sizing: border-box;
    color: rgb(255, 65, 65);
    text-shadow: rgb(255, 65, 65) 1px 0 10px;
}
button {
    width: 100%;
}
p {
    font-size: 20px;
}